body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0px 90px;
    min-width: 900px;

    
}
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px; 
    
}
.sub-header{
    display: inline-flex;
    flex-direction: row;
    background-color:#1f2937;
    padding:50px 100px;
    justify-content: space-between;
}
img{
    display:flex;
    padding:50px;
    max-width:400px 
}
.text-container button{
    flex-shrink: 0;
    text-align: center;
    background-color:#3882f6 ;
    color: white; 
    border-radius: 25px;
    padding: 10px 20px;  
}
.text{
    color:#e5e7eb;
    max-width: 400px;
    margin-top:0;
    font-size: 15px;
    
}
.bold-text{
    /*display:block;*/
    max-width:300px;
    flex-wrap:wrap;
    color:#f9faf8;
    font-weight:800;
    font-size:38px;
    flex-wrap: wrap;
    margin-bottom:0;
    
    
}
.text-container{
    /*outline: orange;*/
    min-width:300px;
}
.logo{
    font-weight: bold;
    color:white;
    display: flex;
}
a{
    color:#e5e7eb;
    text-decoration: none;
    flex-wrap:none;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}
.box-container button{
    border-radius: 25px;
    border: 2px solid #3882f6;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-width: .5em;
}
.box-text{
    height:150px;
    width:150px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
}
.box-container{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
}
.mid-body-head{
    
    text-align: center;
    padding: 50px;
    font-size:36px;
    font-weight: bold;;
    
}
.mid-body-2{
    background-color:#e5e7eb ;
    padding:100px;
    display: flex;
    flex-direction: column;

}
.bottom-body{
    display: flex;
    flex-direction:row;
    border-radius:1em;
}
.inner-bottom{
    display: flex;
    align-items: center;
}

.inner-bottom{
    background-color: #3882f6;
    color:white;
    display: inline-flex;
    flex-direction: row;
    flex:auto;
    margin:100px;
    padding: 20px;
    border-radius: .3em;
    justify-content: space-between;
}
.mid-body{
    display: flex;
    flex-direction: column;
}
.para{
    font-style: italic;
    font-size: 25px;
    font-weight: lighter;
}
.mid-body-2 div{
    display: flex;
    justify-content:flex-end;
    
    
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#e5e7eb;
    padding:30px 100px; 
}
.inner-bottom button{
    background-color:#3882f6;
    border-color:#e5e7eb;
    border-radius: 1em;
    color:#e5e7eb;
    margin-right: 50px;
    width: 100px;
}
.redundant{
    color:#d3d4d1;
    font-size: 10px;
    margin-top:0px;
    
}
.inner-bottom{
    display: flex;
    padding-left: 75px;
    
}